spring:
  profiles:
    active: default
    include: common

  application:
    name: redis-demo

  redis:
    host: localhost
    port: 6379

  cache:
    cache-names: cache1, cache2
#    redis:
#      time-to-live: 30000

---
spring:
  profiles: local
---
spring:
  profiles: development
