spring:
  profiles:
    active: default
    include: common

  application:
    name: redis-demo

#  redis:
#    host: localhost
#    host: redis-master.default.svc.cluster.local
#    port: 6379
#    password: ${REDIS_PASSWORD}

  cache:
    cache-names: cache1, cache2
    redis:
      time-to-live: 30000

---
spring:
  profiles: local
---
spring:
  profiles: development
