apiVersion: v1
kind: Service
metadata:
  labels:
    app: redis-demo
  name: redis-demo
spec:
  ports:
    - name: 8080-8080
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: redis-demo
  type: LoadBalancer
